Repository polywrap-release-forks/javascript-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dOrgJelli, @nerfZael, @namesty, @krisbitney, @pileks, @Niraj-Kamdar, @cbrzn

.github/CODEOWNERS:

# Default
* @dOrgJelli @nerfZael

# JS Client
packages                          @dOrgJelli @nerfZael
packages/asyncify                 @namesty @dOrgJelli
packages/client                   @dOrgJelli @krisbitney @namesty @nerfZael
packages/client-config-builder    @pileks @nerfZael
packages/core                     @dOrgJelli @krisbitney @namesty @nerfZael
packages/core-client              @dOrgJelli @krisbitney @namesty @nerfZael
packages/manifests                @dOrgJelli @namesty @nerfZael @pileks @Niraj-Kamdar
packages/msgpack                  @dOrgJelli @Niraj-Kamdar
packages/plugin                   @nerfZael @dOrgJelli
packages/result                   @nerfZael
packages/tracing                  @dOrgJelli @Niraj-Kamdar
packages/uri-resolver-extensions  @nerfZael
packages/uri-resolvers            @nerfZael
packages/validation               @nerfZael @cbrzn
packages/wasm                     @nerfZael @dOrgJelli

add embed script to sys bundle, update embedded HTTP client
  packages/config-bundles/sys/package.json
  packages/config-bundles/sys/scripts/embed-wraps.ts
  packages/config-bundles/sys/src/embeds/http-resolver/wrap.ts
  packages/config-bundles/sys/src/embeds/http-resolver/wrap.wasm
  yarn.lock
Owners: @dOrgJelli, @nerfZael

move ipfs-related wraps to sys/common bundle
  packages/config-bundles/sys/src/common.ts
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.info
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.ts
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.wasm
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.info
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.ts
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.wasm
  packages/config-bundles/web3/package.json
  packages/config-bundles/web3/scripts/embed-wraps.ts
  packages/config-bundles/web3/src/index.ts
Owners: @dOrgJelli, @nerfZael

prepare 0.12-pre.1 release
  CHANGELOG.md
  VERSION
Owners: @dOrgJelli, @nerfZael

chore: trigger CD | /workflows/release-pr
  VERSION
Owners: @dOrgJelli, @nerfZael

build(release): migrate to 0.12.0-pre.1
  packages/asyncify/package.json
  packages/client/package.json
  packages/config-builder/package.json
  packages/config-bundle/package.json
  packages/config-bundles/sys/package.json
  packages/config-bundles/web3/package.json
  packages/core-client/package.json
  packages/core/package.json
  packages/manifests/wrap/package.json
  packages/msgpack/package.json
  packages/plugin/package.json
  packages/result/package.json
  packages/test-cases/package.json
  packages/tracing/package.json
  packages/uri-resolver-extensions/package.json
  packages/uri-resolvers/package.json
  packages/wasm/package.json
Owners: @namesty, @dOrgJelli, @krisbitney, @nerfZael, @pileks, @Niraj-Kamdar

0.12.0-pre.1
  packages/config-bundles/sys/README.md
  packages/config-bundles/web3/README.md
  packages/uri-resolver-extensions/README.md
Owners: @dOrgJelli, @nerfZael

remove missing global fail() function from tests
  packages/client/src/__tests__/core/embedded-package.spec.ts
  packages/client/src/__tests__/core/embedded-wrapper.spec.ts
  packages/client/src/__tests__/core/plugin-wrapper.spec.ts
  packages/client/src/__tests__/core/type-test-cases.ts
  packages/client/src/__tests__/core/wasm-wrapper.spec.ts
  packages/client/src/__tests__/core/wrap-features/env-case.ts
  packages/client/src/__tests__/core/wrap-features/interface-implementation-case.ts
  packages/client/src/__tests__/core/wrap-features/subinvoke-case.ts
  packages/config-builder/src/__tests__/client-config-builder.spec.ts
  packages/core-client/src/__tests__/embedded-package.spec.ts
  packages/core-client/src/__tests__/embedded-wrapper.spec.ts
  packages/uri-resolver-extensions/src/__tests__/helpers/expectHistory.ts
  packages/uri-resolvers/src/__tests__/aggregator-resolver/aggregator-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/helpers/expectHistory.ts
  packages/uri-resolvers/src/__tests__/package-resolver/package-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/package-to-wrapper-resolver/package-to-wrapper.spec.ts
  packages/uri-resolvers/src/__tests__/recursive-resolver/recursive-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/redirect-resolver/redirect-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/redirects.spec.ts
  packages/uri-resolvers/src/__tests__/resolution-result-cache-resolver/resolution-result-cache-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/static-resolver/static-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/wrapper-cache-resolver/wrapper-cache-resolver.spec.ts
  packages/uri-resolvers/src/__tests__/wrapper-resolver/wrapper-resolver.spec.ts
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

URI authority should start with word characters
  packages/core/src/__tests__/Uri.spec.ts
  packages/core/src/types/Uri.ts
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

client config - common bundle uses wrapscan URIs
  packages/config-bundles/sys/src/common.ts
Owners: @dOrgJelli, @nerfZael

update wrapscan -> wrapscan.io
  packages/config-bundles/sys/src/common.ts
Owners: @dOrgJelli, @nerfZael

chore: update bundles with wrapscan URIs
  integration-tests/react-app/package.json
  packages/config-bundles/sys/package.json
  packages/config-bundles/sys/scripts/embed-wraps.ts
  packages/config-bundles/sys/src/common.ts
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.info
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.ts
  packages/config-bundles/sys/src/embeds/async-ipfs-resolver/wrap.wasm
  packages/config-bundles/sys/src/embeds/file-system-resolver/wrap.info
  packages/config-bundles/sys/src/embeds/file-system-resolver/wrap.ts
  packages/config-bundles/sys/src/embeds/file-system-resolver/wrap.wasm
  packages/config-bundles/sys/src/embeds/http-resolver/wrap.info
  packages/config-bundles/sys/src/embeds/http-resolver/wrap.ts
  packages/config-bundles/sys/src/embeds/http-resolver/wrap.wasm
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.info
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.ts
  packages/config-bundles/sys/src/embeds/ipfs-http-client/wrap.wasm
  packages/config-bundles/sys/src/node.ts
  packages/config-bundles/web3/package.json
  packages/config-bundles/web3/src/index.ts
  packages/core-client/README.md
  packages/core-client/examples/quickstart.ts
  packages/core/src/__tests__/get-implementations.spec.ts
  packages/core/src/types/Uri.ts
  packages/uri-resolver-extensions/README.md
  packages/uri-resolver-extensions/examples/quickstart.ts
  packages/uri-resolver-extensions/src/ExtendableUriResolver.ts
  packages/uri-resolver-extensions/src/__tests__/wrappers/subinvoke-resolver/polywrap.graphql
  packages/uri-resolver-extensions/src/__tests__/wrappers/test-resolver/polywrap.graphql
  packages/uri-resolvers/src/__tests__/redirects.spec.ts
  packages/wasm/package.json
  yarn.lock
Owners: @dOrgJelli, @nerfZael, @krisbitney, @namesty

fix package versions to enable build, lint
  packages/client/package.json
  packages/config-bundles/sys/package.json
  packages/core/src/types/Uri.ts
  yarn.lock
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

update cli-js version
  packages/uri-resolver-extensions/package.json
Owners: @nerfZael

chore: fix wrap build error
  packages/client/package.json
  packages/uri-resolver-extensions/src/__tests__/wrappers/subinvoke-resolver/polywrap.graphql
  packages/uri-resolver-extensions/src/__tests__/wrappers/test-resolver/polywrap.graphql
  packages/wasm/package.json
  yarn.lock
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

chore: fix versions
  packages/uri-resolver-extensions/package.json
Owners: @nerfZael

chore: remove usage of ens URIs
  WRAP_TEST_HARNESS
  packages/client/README.md
  packages/client/examples/quickstart.ts
  packages/client/src/__tests__/core/error-structure.spec.ts
  packages/client/src/__tests__/core/plugin-wrapper.spec.ts
  packages/client/src/__tests__/core/sanity.spec.ts
  packages/client/src/__tests__/core/type-test-cases.ts
  packages/client/src/__tests__/core/uri-resolution.spec.ts
  packages/client/src/__tests__/core/wasm-wrapper.spec.ts
  packages/client/src/__tests__/core/wrap-features/env-case.ts
  packages/client/src/__tests__/core/wrap-features/interface-implementation-case.ts
  packages/client/src/__tests__/core/wrap-features/subinvoke-case.ts
  packages/config-builder/README.md
  packages/config-builder/examples/quickstart.ts
  packages/config-builder/src/__tests__/client-config-builder.spec.ts
  packages/config-bundles/sys/README.md
  packages/config-bundles/web3/README.md
  packages/core/README.md
  packages/core/src/__tests__/Uri.spec.ts
  packages/uri-resolver-extensions/README.md
Owners: @dOrgJelli, @nerfZael, @krisbitney, @namesty

chore: bump version of wrap-test-harness
  packages/test-cases/src/index.ts
Owners: @dOrgJelli, @nerfZael

chore: fix client tests
  packages/client/src/__tests__/core/error-structure.spec.ts
  packages/client/src/__tests__/core/uri-resolution.spec.ts
  packages/client/src/__tests__/core/wrap-features/interface-implementation-case.ts
  packages/client/src/__tests__/e2e.spec.ts
  packages/config-bundle/src/index.ts
  packages/config-bundles/sys/src/common.ts
  packages/config-bundles/sys/src/node.ts
  packages/config-bundles/web3/src/index.ts
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

chore: update docs
  packages/config-bundles/sys/README.md
  packages/config-bundles/web3/README.md
Owners: @dOrgJelli, @nerfZael

chore: install polywrap CLI when building wrap-test-harness
  .github/workflows/ci-wrap-test-harness.yaml
Owners: @dOrgJelli, @nerfZael

chore: update installation steps
  .github/workflows/ci-wrap-test-harness.yaml
Owners: @dOrgJelli, @nerfZael

chore: remove needless rebuilding of wrap-test-harness
  .github/workflows/ci-javascript.yaml
  .github/workflows/ci-wrap-test-harness.yaml
  WRAP_TEST_HARNESS
Owners: @dOrgJelli, @nerfZael

chore: fix test
  packages/client/src/__tests__/core/error-structure.spec.ts
Owners: @dOrgJelli, @krisbitney, @namesty, @nerfZael

chore: prep origin 0.12.0
  CHANGELOG.md
  VERSION
Owners: @dOrgJelli, @nerfZael

build(release): migrate to 0.12.0
  packages/asyncify/package.json
  packages/client/package.json
  packages/config-builder/package.json
  packages/config-bundle/package.json
  packages/config-bundles/sys/package.json
  packages/config-bundles/web3/package.json
  packages/core-client/package.json
  packages/core/package.json
  packages/manifests/wrap/package.json
  packages/msgpack/package.json
  packages/plugin/package.json
  packages/result/package.json
  packages/test-cases/package.json
  packages/tracing/package.json
  packages/uri-resolver-extensions/package.json
  packages/uri-resolvers/package.json
  packages/wasm/package.json
Owners: @namesty, @dOrgJelli, @krisbitney, @nerfZael, @pileks, @Niraj-Kamdar

chore(examples): init examples
  examples/README.md
  examples/package.json
  examples/src/filesystem.ts
  examples/src/hello-world.ts
  examples/src/http.ts
  examples/tsconfig.json
Owners: @dOrgJelli, @nerfZael

chore(examples): ens, etherem & ipfs
  examples/package.json
  examples/src/ens.ts
  examples/src/ethereum.ts
  examples/src/filesystem.ts
  examples/src/hello-world.ts
  examples/src/http.ts
  examples/src/ipfs.ts
Owners: @dOrgJelli, @nerfZael

chore: update readme
  CONTRIBUTING.md
  DEV_GUIDELINES.md
  README.md
  examples/README.md
  examples/src/hello-world.ts
Owners: @dOrgJelli, @nerfZael

chore(ci): add examples
  .github/workflows/ci-javascript.yaml
  README.md
Owners: @dOrgJelli, @nerfZael

chore(examples): use constant for uris
  examples/src/ethereum.ts
  examples/src/filesystem.ts
  examples/src/hello-world.ts
  examples/src/http.ts
  examples/src/ipfs.ts
Owners: @dOrgJelli, @nerfZael

chore(examples/ens): ethereumPluginUri -> ethereumWalletUri
  examples/src/ens.ts
Owners: @dOrgJelli, @nerfZael

chore(ci): fix example script
  .github/workflows/ci-javascript.yaml
Owners: @dOrgJelli, @nerfZael

chore(ci/examples): add yarn install step
  .github/workflows/ci-javascript.yaml
  .gitignore
  examples/README.md
Owners: @dOrgJelli, @nerfZael

chore(examples): add instruction to spin up local ipfs node
  examples/README.md
Owners: @dOrgJelli, @nerfZael

chore: fix readmes
  README.md
  examples/README.md
Owners: @dOrgJelli, @nerfZael

chore(example): add note of docker needed in ipfs example
  examples/README.md
Owners: @dOrgJelli, @nerfZael

chore(examples): rename hello world to logger
  .github/workflows/ci-javascript.yaml
  examples/README.md
  examples/package.json
  examples/src/logger.ts
Owners: @dOrgJelli, @nerfZael

fix: wrap-manifest-types works in browser
  examples/package.json
  integration-tests/react-app/package.json
  packages/config-bundles/sys/package.json
  packages/manifests/wrap/package.json
  packages/plugin/package.json
  packages/test-cases/package.json
  packages/uri-resolver-extensions/package.json
  packages/uri-resolver-extensions/src/__tests__/wrappers/subinvoke-resolver/polywrap.graphql
  packages/uri-resolver-extensions/src/__tests__/wrappers/test-resolver/polywrap.graphql
  packages/wasm/package.json
  yarn.lock
Owners: @dOrgJelli, @nerfZael, @namesty, @pileks, @Niraj-Kamdar

chore: update CHANGELOG & bump VERSION
  CHANGELOG.md
  VERSION
Owners: @dOrgJelli, @nerfZael

chore: fix uri-resolver-extension tests
  packages/uri-resolver-extensions/src/__tests__/histories/shows-plugin-extension-error-with-subinvoke.json
  packages/uri-resolver-extensions/src/__tests__/histories/shows-wasm-extension-error-with-subinvoke.json
  packages/uri-resolver-extensions/src/__tests__/histories/shows-wasm-extension-error.json
  packages/uri-resolver-extensions/src/__tests__/resolver-extensions.spec.ts
  packages/uri-resolver-extensions/src/__tests__/wrappers/subinvoke-resolver/Cargo.toml
  packages/uri-resolver-extensions/src/__tests__/wrappers/subinvoke-resolver/polywrap.yaml
  packages/uri-resolver-extensions/src/__tests__/wrappers/test-resolver/Cargo.toml
  packages/uri-resolver-extensions/src/__tests__/wrappers/test-resolver/polywrap.yaml
Owners: @nerfZael
